.k-table-none{
	display: none;
}
.k-table{
	position: relative;
	font-size: 12px;
	height: 100%;
	&:after{
	  clear: both;
	  content: " ";
	  display: block;
	}
	.k-table-header{
	  border: solid #e9e9e9;
	  border-width: 1px 0 0 0;
	  padding: 16px 8px;
	  top: 1px;
	  border-radius: 4px 4px 0 0;
	  position: relative;
	  .k-table-drag-bt{
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		color: #4181ff;
	  }
	}
	.k-table-footer{
	  border: solid #e9e9e9;
	  border-width: 0 0 1px 0;
	  padding: 16px 8px;
	  top: 1px;
	  border-radius: 0 0 4px 4px;
	}
	.k-table-header-border{
	  border-width: 1px 1px 0 1px;
	}
	.k-table-footer-border{
	  border-width: 0 1px 1px 1px;
	}
	.k-table-content{
		height: 100%;
	  .k-table-body{
			height: 100%;
			table{
				width: 100%;
				text-align: left;
				font-weight: 500;
				border-spacing: 0;
				position: relative;
				thead{
				background: #f7f7f7;
				}
				tbody{
				tr{
					background: #fff;
					transition: background .3s ease;
					// &:hover{
					// 	background: #ecf6fd;
					// }
					td{
					word-break: break-all;
					}
				}
				.k-table-tr-active{
					// background: #dbf0ff;
				}
				}
				th, td{
				padding: 16px 8px;
				border-bottom: 1px solid #e9e9e9;
				}
				tr, th, td{
				box-sizing: border-box;
				}
				th{
					.k-table-th-filter{
						margin-left: 5px;
						cursor: pointer;
						position: relative;
						.k-table-arrow-down{
							font-size: 12px;
							img{
								width: 12px;
							}
						}
						.k-table-th-filter-dropdown{
							cursor: default;
							position: absolute;
							top: 20px;
							left: 0;
						}
					}
				}
			}
			.k-table-no-content{
				height: 40px;
				line-height: 40px;
				text-align: center;
				color: #5c626b;
			}
	  }
	}
	.k-table-bordered{
	  .k-table-body{
		table{
		  border: solid #e9e9e9;
		  border-width: 1px 0 0 1px;
		  th, td{
			border-right:1px solid #e9e9e9;
		  }
		}
		.k-table-loading{
		  border-width: 0 1px 1px 1px;
		}
	  }
	}
	.k-table-pagination{
		float: right;
		margin: 20px;
	}
	.k-table-loading{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(255, 255, 255, 0.6);
		z-index: 99;
		.k-table-loading-content{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 33px;
			height: 30px;
			margin: auto;
		}
		.k-table-loading-icon{
		font-size: 30px;
		color: #108ee9;
		animation: rotation 0.6s steps(8, end) infinite;
		display: inline-block;
		}
		@keyframes rotation{
		from {transform: rotate(0deg);}
		to {transform: rotate(360deg);}
		}
	}
}
  .k-table-drag-status{
	user-select: none;
  }